body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gemini-wrapper {
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.m {
    width: fit-content;
}

.chat {
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    flex-direction: column-reverse;
    justify-content: flex-start;
    display: flex;
}

.user {
    align-self: flex-end;
}

.chat,
.chat-area,
.chat-area input {
    width: 100%;
}

.chat-area {
    display: flex;
}
